@media (max-width: 1440px) {
  .head-img-hand {
    background-image: url(../img/head/hand.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1415px;
    // background-size: 100% auto;
  }
}
@media (max-width: 1156px) {
  .why__summ {
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 30px;
  }
  .join__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .join__left {
    margin: 0;
    margin-bottom: 80px;
  }
  .act__items,
  .how__items {
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
  }
  .how__item,
  .act__item {
    margin: 0;
    margin: 10px;
  }

  .act__title,
  .act__underText {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
  }
  .act__underText {
    margin-top: 20px;
  }
  .act__title {
    max-width: 500px;
    margin-bottom: 40px;
  }
  .act {
    padding: 100px 0;
    padding-bottom: 150px;
  }
  .what {
    padding-bottom: 120px;
    padding-top: 180px;
    background-image: url(../img/what/phone.png);
    background-size: 950px;
    background-position: left -111px top -59px;
  }
  .how__title {
    text-align: center;
  }
  .how__uderTitle {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  .how {
    padding-bottom: 70px;
    &::before {
      display: none;
    }
  }
  .header__menu a {
    font-size: 16px;
    margin-right: 15px;
    color: #a7a7a7;
  }
  .what__right {
    width: auto;
  }
  .what__bub-1 {
    left: -120px;
    bottom: -172px;
  }
  .what__container {
    justify-content: center;
    align-items: center;
  }
  .what__left {
    display: none;
  }
  .what {
    background-image: none;
  }
  .what__item {
    justify-content: flex-start;
  }
}
@media (max-width: 880px) {
  .footer__social {
    flex-wrap: wrap;
  }
  .act__bub-1 {
    top: 0;
  }
  .head-img-hand {
    background-image: none;
  }
  .footer__container {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__logo,
  .footer__links {
    margin-bottom: 40px;
  }
  .footer__links {
    a {
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  .header__menu-button {
    display: block;
    color: #8fffe4;
    padding: 22px 30px;
    font-size: 16px;
    border: 2px solid #3e4652;
    border-radius: 10px;
  }
  .burger__burger {
    cursor: pointer;
    display: block;
    width: 35px;
    height: 25px;
    position: relative;
    text-align: center;

    span {
      transition: all 0.3s;
      opacity: 1;
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: $blue;
      top: 11px;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: $blue;
      transition: all 0.3s;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
  }
  .burger__burger.active::after {
    transform: rotate(45deg);
    top: 11px;
    transition: all 0.3s ease 0s;
    background-color: $black;
  }
  .burger__burger.active::before {
    transform: rotate(-45deg);
    bottom: 11px;
    transition: all 0.3s ease 0s;
    background-color: $black;
  }
  .burger__burger.active span {
    opacity: 0;
    transition: all 0.3s;
    background-color: $black;
  }
  .header-mob {
    position: fixed;
    width: 100%;
    left: 0;
    background: radial-gradient(
      145.62% 333.36% at 32.12% 159.95%,
      #289e89 4%,
      #b83c3c 64.06%,
      #7ee3cb 100%
    );
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
    .header__logo {
      //   height: 50px;
      img {
        height: 100%;
      }
    }
  }
  .header__logo img {
    width: 38px;
  }
  .header__menu {
    width: 100%;
    background-color: #fff;
  }
  .header__menu-container {
    position: fixed;
    left: -120%;
    top: 49px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    color: #fff;
    z-index: 100;
    padding: 20px 0;
    transition: 0.5s;
    a {
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .nav_active {
    left: 0 !important;
  }
  .header__menu-button {
    color: $blue !important;
    border: 1px solid $blue;
    padding: 12px;
    max-width: 180px;
    width: 100%;
    text-align: center;
  }
  .header__logo-desc,
  .header__button-desc {
    display: none;
  }

  .head__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .head__left-title {
    text-align: center;
    line-height: 90px;
    span {
      display: none;
    }
  }
  .head__left-text {
    text-align: center;
  }
  .head__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .head__right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bub {
    max-width: 100px;
    img {
    }
  }
  .price__right {
    max-width: 600px;
    img {
      max-width: 100%;
    }
  }
  .price__container {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }
  .price__right {
    margin: 0;
  }

  .price__left,
  .price__title,
  .price__upperText,
  .price__text {
    text-align: center;
    max-width: 400px;
  }
}
@media (max-width: 570px) {
  .footer__social {
    max-width: 300px;
    margin: 0 auto;
  }
  .footer__social-link {
    margin: 0;
    margin: 8px;
  }
  .how__uderTitle {
    font-size: 15px;
    line-height: 20px;
    max-width: 300px;
    margin-bottom: 40px;
  }
  .what__more {
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 31px;
    line-height: 40px;
  }
  .text {
    font-size: 16px;
    line-height: 20px;
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .head__left-title {
    font-size: 45px;
    color: $blue;
    padding-bottom: 40px;
    background: radial-gradient(
      145.62% 333.36% at 32.12% 159.95%,
      #289e89 20%,
      #ffffff 64.06%,
      #7ee3cb 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .head__left-text {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 170px;
  }
  .head {
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding-top: 40px;
  }
  .head-img-hand {
    background-image: url(../img/head/hand.png);
    background-size: cover;
    display: block;
    background-position: bottom -54px left 74%;
  }
  .header {
    padding-bottom: 0px;
  }
  .price__left {
    min-width: auto;
  }
  .head__left-btn {
    padding: 14px 5px;
    border-radius: 10px;
    height: auto;
    max-width: 290px;
    width: 100%;
    background-image: none;
    background: radial-gradient(
      145.62% 333.36% at 32.12% 159.95%,
      #289e89 0%,
      #b83c3c 64.06%,
      #7ee3cb 100%
    );
    box-shadow: 0px 24px 80px rgba(135, 251, 209, 0.25), 0px 5px 0px #2a5344,
      inset -6px 12px 200px rgba(132, 206, 225, 0.15),
      inset 0px 3px 12px rgba(255, 255, 255, 0.35);
    p {
      font-size: 17px;
    }
    span {
      max-width: 50px;
    }
  }
  .head__left-btn-shadow {
    display: none;
  }

  .join__form {
    background: #242830;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    min-width: auto;
    width: 100%;
    min-height: auto;
  }
  .why__summ {
    font-size: 30px;
    line-height: 40px;
  }

  .why__bottom-text {
    font-size: 16px;
    line-height: 20px;
  }
  .act__item,
  .how__item {
    min-width: 230px;
    height: 200px;
    &-title {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .what {
    padding: 0;
    background-image: url(../img/what/phone.png);
    background-size: cover;
    background-position: left -60px top -59px;
    &__container {
      padding-bottom: 140px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      padding-top: 70px;
    }
  }
  .how__bg {
    background-image: none;
    background: radial-gradient(
      188.62% 292.36% at 28.12% 159.95%,
      #17473f 0%,
      #000 60.06%,
      #3f5c56 100%
    );
  }
  .join__subTitle {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
  }
  .join__title {
    font-size: 38px;
    color: #8fffe4;
    text-align: center;
    // padding-bottom: 60px;
    background: -o-radial-gradient(
      32.12% 159.95%,
      145.62% 333.36%,
      #289e89 20%,
      #fff 64.06%,
      #7ee3cb 100%
    );
    background: radial-gradient(
      145.62% 333.36% at 32.12% 159.95%,
      #289e89 20%,
      #fff 64.06%,
      #7ee3cb 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .join__q-text {
    font-size: 16px;
    line-height: 20px;
  }
  .join__q-sign {
    min-width: 70px;
    min-height: 70px;
  }
  .join__form {
    input,
    select,
    textarea {
      min-height: 45px;
      padding: 11px 15px;
      max-height: 80px;
      font-size: 10px;
      &::-webkit-input-placeholder {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
      }
      &:-moz-placeholder {
        color: #fff;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
      }
    }
    button {
      min-height: auto;
      padding: 24px 15px;
      font-size: 14px;
      line-height: 15px;
    }
    select {
      font-size: 14px;
    }
  }
  .footer__links {
    flex-direction: column;
    a {
      margin: 0;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}

@media (max-width: 370px) {
  .why__summ {
    font-size: 25px;
  }
  .price__title {
    font-size: 39px;
  }
  .price__upperText p {
    font-size: 22px;
  }
}
